body {
    background-color: #f7f7f5;
    font-family: 'Fabriga Regular', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    width: 100%;
    height: 81px;
    background-color: #313c53;
    box-shadow: 0 1px 3px grey;
    position: absolute;
    z-index: 1;
}

#nav1 {
    list-style-type: none;
    display: flex;
    margin: 0 0 0 324px;
}

#nav1 .cars {
    padding: 6px 0;
    margin: 0 16px 0 0;
    color: #00d7d2;
    font-size: 12px;
    font-weight: 250;
    }

#nav1 li {
    padding: 6px 6px 0 0;
    margin: 0 16px 0 0;
    color: #e8e8e3;
    font-size: 12px;
    font-weight: 300;
}

#nav2 {
    list-style-type: none;
    display: flex;
    margin: 0 324px;
}

.logo {
    width: 144px;
    height: 17.55px;
    padding: 12px 50px 0 0;
}

.spacer {
    padding: 4px 0;
    margin: 6px 16px 0 0;
    font-weight: lighter;
    color: white;
}

#nav2 > li {
    padding: 6px 0;
    margin: 0 16px 0 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    }

.save {
    margin: 0 20px 0 200px;
}

.signIn {
    margin: -1px 0 0 0;
}

.sellCar {
    background-color: #ff3535;
    border-radius: 30px;
    color: white;
    margin: 0 0 0 20px;
    border: none;
    padding: 12px 25px 13px 25px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -5px;
}

#nav3 {
    display: flex;
    position: relative;
    left: 62%;
    top: -30px;
}

.main {
    margin: 0 auto 0 auto;
    width: 1024px;
    z-index: 0;
}

.row1 {
    padding-top: 81px;
}

.panel {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}