body {
    background-color: #f7f7f5;
    font-family: 'Fabriga Regular', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 81px;
    background-color: #313c53;
    box-shadow: 0 1px 3px grey;
    position: relative;
    z-index: 2;
}

.navContainer {
    width: 1028px;
    margin: auto;
}

#nav1 {
    list-style-type: none;
    display: flex;
    margin: 0 auto 0 auto;
}

#nav1 .cars {
    padding: 6px 0;
    margin: 0 16px 0 0;
    color: #00d7d2;
    font-size: 12px;
    font-weight: 250;
    cursor: pointer;
    }

.nav1Li {
    padding: 6px 6px 0 0;
    margin: 0 16px 0 0;
    color: #e8e8e3;
    font-size: 12px;
    font-weight: 300;
}

.nav1spacer {
    padding: 6px 6px 0 0;
    margin: 0 16px 0 0;
    color: #e8e8e3;
    font-size: 12px;
}

#nav2 {
    list-style-type: none;
    display: flex;
}

.logo {
    width: 144px;
    height: 17.55px;
    padding: 14px 50px 0 0;
    cursor: pointer;
}

.spacer {
    padding-top: 8px;
    margin: 6px 16px 0 0;
    font-weight: lighter;
    color: white;
}

.nav2li {
    margin: 0 0 0 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    padding-right: 15px;
    }

.save {
    margin: 0 20px 0 200px;
    cursor: pointer;
}

.signIn {
    margin: -1px 0 0 0;
    cursor: pointer;
}

.sellCar {
    background-color: #ff3535;
    border-radius: 30px;
    color: white;
    margin: 0 0 0 20px;
    border: none;
    padding: 12px 25px 13px 25px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.sellCar:hover {
    background-color: #da2f2f;
}

#nav3 {
    display: flex;
    position: relative;
    left: 62%;
    top: -30px;
    width: 700px;
}

.main {
    margin: 0 auto 0 auto;
    width: 1024px;
}

.row1 {
    display: flex;
    position: relative;
    z-index: 1;
}

.corsa {
    cursor: pointer;
}

.panel {
    list-style-type: none;
    display: flex;
    width: 315px;
    height: 350px;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: white;
    padding: 8px 0 0 16px;
    position: absolute;
    right: 66%;
    top: 5%;
    z-index: 5;
}

.title {
    width: 336px;
    height: 28px;
    font-size: 24px;
    padding-top: 9px;
    color: #313c53;
}

input[type=text] {
    background-color: #e8e8e3;
    border: 2px solid #e8e8e3;
    border-radius: 5px;
    padding: 15px 10px 15px 5px;
    font-weight: lighter;
    font-size: 14px;
    width: 121px;
    margin-right: 15px;
}

.postcode__distance {
    width: 310px;
    height: 35px;
    font-size: 14px;
    display: flex;
}

.make__model {
    width: 310px;
    height: 35px;
    font-size: 14px;
    display: flex;
}
.TMprice {
    width: 287px;
    height: 28px;
    font-size: 14px;
    display: flex;
    background-color: #e8e8e3;
    border-radius: 25px;
    padding: 5px;
    text-align: center;

}
.MMprice {
    width: 310px;
    height: 35px;
    font-size: 14px;
    display: flex;
}

.panel-li {
    background-color: #e8e8e3;
    border-radius: 3px;
    font-weight: lighter;
    margin-right: 15px;
    color: #666;
    padding: 10px 5px 10px 10px;
    width: 125px;
    cursor: pointer;
}

.price-li {
    background-color: white;
    border-radius: 50px;
    font-weight: lighter;
    margin-right: 15px;
    color: #666;
    z-index: 2;
    width: 50%;
    padding: 10px 5px 10px 10px;
    height: 15px;
    border: 2px solid #06a09d;
    position: relative;
    left: -5px;
    top: -5px;
    cursor: pointer;
}

.monthy-li {
    background-color: #e8e8e3;
    border-radius: 3px;
    font-weight: lighter;
    margin-right: 15px;
    color: #666;
    padding: 5px 5px 10px 10px;
    width: 125px;
    cursor: pointer;
}

.moreOptions {
    display: flex;
    width: 310px;
    height: 35px;
    font-size: 14px;
}

.search {
    background-color: #ff3535;
    border-radius: 30px;
    color: white;
    width: 297px;
    height: 45px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.search:hover {
    background-color: #da2f2f;
}

.Rsearch {
    font-size: 14px;
    color: #2a65ba;
    align-items: flex-start;
    width: 50%;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.Rsearch:hover {
    color: #239599;
}
.p-quick-search__reset-icon {
    padding: 0 0 19px 0;
    fill: #2a65ba;
    cursor: pointer;
}
.p-quick-search__reset-icon:hover {
    fill: #239599;
}


.Moptions {
    font-size: 14px;
    color: #2a65ba;
    align-items: flex-end;
    width: 50%;
    padding: 0 0 0 100px;
    cursor: pointer;
}

.Moptions:hover {
    color: #239599;
}
.row2 {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 0 12px;
}
.carDeals {
    font-size: 19px;
    color: #ff4436;
    font-weight: 500;
    cursor: pointer;
}
.latest {
    font-size: 25px;
    color: #313c53;
    font-weight: 500;
}
.row3 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.row4 {
    padding-top: 15px;
    padding-bottom: 30px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 607px;
    background-color: #313c53;
    list-style: none;
}

.footerContentContainer {
    margin: auto;
    padding-top: 30px;
    display: flex;
    width: 1028px;
    flex-wrap: wrap; 
}

.footerContentTitle {
    color: white;
    font-size: 18px;
    padding: 8px 0 8px 0;
}
.footerLi {
    color: #d0d0cb;
    font-size: 14px;
    padding: 11px 0 11px 0;
}

.footerContent-1,
.footerContent-2,
.footerContent-3,
.footerContent-4 {
    width: 250px;
}

.copyright {
    color: #aaaaa7; 
    font-size: 12px; 
}
.copyright2 {
    color: #aaaaa7;
    font-size: 12px;
    padding-bottom: 20px;
}

.footerLi:hover {
    color: #00d7d2;
    cursor: pointer;
}

.nav1Li:hover {
    color: #00d7d2;
    cursor: pointer;
}

.nav2li:hover {
    color: #00d7d2;
    cursor: pointer;
}


@media screen and (max-width: 2000px) {
    .nav2li {
      font-size: 14px;
    }
}